/*

h3:nth-child(2) {
	color: red;
}

*/

div + h3 {
	color: #e91e63
}

/*

h3:last-child {
	color: #2196F3;
}

*/

p + h3 {
	color: #2196F3;
}

h2 + ul > li {
	color: #ff5722;
	text-align: left;
	list-style: square;
}