[type="text"] {
	display: inline-block;
	width: 400px;
	height: 25px;
	border: 1px dotted #ff0066;
}

input:focus {
	color: #ff5722;
	font-weight: bold;
	text-align: center;
}

label:hover {
	background-color: #ff0066;
}

[type="radio"]:checked {
	width: 20px;
	height: 20px;
}

button.box4:hover {
	background-color: yellow;
}

.box {
	display: inline-block;
	width: 20%;
	text-align: right;
	font-size: 10pt;
}

.box2 {
	display: inline-block;
	width: 20%;
	text-align: right;
	font-size: 10pt;
}

.box3 {
	display: inline-block;
	width: 65%;
	margin-left: 5px;
	padding: 5px;
	text-align: center;
}

.box4 {
	display: inline-block;
	width: 30%;
	height: 30px;
	color: white;
	cursor: pointer;
}

.size {
	display: inline-block;
	width: 100px;
	height: 100px;
}

.size2 {
	display: inline-block;
	width: 100px;
	height: 110px;
}

.size3 {
	height: 10px;
	text-align: center;
}

.size4 {
	width: 100px;
	height: auto;
}

